@use "@partials" as p;
@use "sass:color";

.debt-table-categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.debt-table-categories-content {
  display: flex;
  gap: 10%;
  font-size: clamp(0.5rem, 0.4423rem + 0.2564vw, 0.75rem);
  color: p.$gray-text;

  p {
    width: 100%;
  }
}

.debt-table-categories-line {
  border: none;
  border-top: 1px solid p.$gray-lines;
}

.debt-table-categories-nip,
.debt-table-categories-debtor,
.debt-table-categories-amount,
.debt-table-categories-date {
  cursor: pointer;

  &:hover {
    color: color.adjust(p.$gray-text, $lightness: -20%);
  }
}

.active {
  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("@assets/img/bxs_down-arrow.svg") no-repeat center;
    background-size: contain;
    margin-left: 0.5rem;
  }
}
